/.idea/.idea.PackageLister/.idea/.gitignore
/.idea/.idea.PackageLister/.idea/encodings.xml
/.idea/.idea.PackageLister/.idea/indexLayout.xml
/.idea/.idea.PackageLister/.idea/vcs.xml
/obj/Debug/net7.0/ref/PackageLister.dll
/obj/Debug/net7.0/refint/PackageLister.dll
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/apphost
/obj/Debug/net7.0/PackageLister.AssemblyInfo.cs
/obj/Debug/net7.0/PackageLister.AssemblyInfoInputs.cache
/obj/Debug/net7.0/PackageLister.assets.cache
/obj/Debug/net7.0/PackageLister.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/PackageLister.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/PackageLister.dll
/obj/Debug/net7.0/PackageLister.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/PackageLister.genruntimeconfig.cache
/obj/Debug/net7.0/PackageLister.GlobalUsings.g.cs
/obj/Debug/net7.0/PackageLister.pdb
/obj/PackageLister.csproj.nuget.dgspec.json
/obj/PackageLister.csproj.nuget.g.props
/obj/PackageLister.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/bin/Debug/net7.0/PackageLister
/bin/Debug/net7.0/PackageLister.deps.json
/bin/Debug/net7.0/PackageLister.dll
/bin/Debug/net7.0/PackageLister.pdb
/bin/Debug/net7.0/PackageLister.runtimeconfig.json
/.DS_Store
